* {
    margin: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Cabin', sans-serif;
}


/* ----------------Desktop main style--------------*/
main{
    padding-top:3.125rem;
    display:flex;
    background-image: url('https://i.ibb.co/ryGC2mq/taxi.jpg');
    background-position: 0% 93%;
    background-size:cover;
    justify-content: flex-end;
    color: white;
    
}

.main-title{
    font-size: 2rem;
    display:block;
}

.prf2{
    font-size: 1.5rem;
}
    
#logo-begin{
    width: 4rem;
    height:  1rem;
}

.register{
    margin: 4rem 0rem 8rem;
    padding: 2rem 7rem 2.5rem 2rem;
    text-align: left;
    background-color: #f7b617;
    font-size: 2.5rem ;
}

.whiteBtn{
    background-color: white;
    color:black;
    border-radius: .25rem;
    border:none;
    padding: .45rem .8rem;
    font-size: 1rem;
}

.mobile{
    display:none;
}

.webBtn{
    display:block;
}

.lines{
    text-align: center;
    padding:  0rem 0rem 1rem 5rem;
    display:block;
}

.lines-effect{
    display: inline-block;
    position: relative;
    font-size: .8rem; 
    }

    .lines-effect::after,.lines-effect::before{
        content:'';
        position:absolute;
        width:8rem;
        height: .08rem;
        background-color: white;
        top: 0.6rem;
    }
    .lines-effect::before{
        left:-10rem;
    }
    .lines-effect::after{
        right: -10rem;
    }
.mobile-text{
    display:none;
}


/* ----------------Mobile main style--------------*/

@media screen and (max-width: 800px){

    .mobile-text{
        display:block;
    }

    .main-title{
        display:none;
    }

    .mobile{
        display:block;
    }

    .webBtn{
        display:none;
    }

    .lines{
        display:none;
    }

    main {
        height: 28rem;
    }

}


/* ----------------Desktop nav style--------------*/
header {
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 100;
    padding: 0.625rem 1.25rem;
    height: 3.125rem;
    background-color: #FFF;
    background-size: cover;
    width: 100%
}

nav {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    background-color: #FFF;
    display: flex;
}

nav ul {
    overflow: hidden;
    list-style: none;
}

nav ul li {
    float:right;
}

nav ul li a{

    font-size: 1rem;
    color: #000000;
    display: flex;
    justify-content: flex-end;
    padding-left: .5rem;
    padding-right: .5rem;
    text-decoration: none;
}

nav ul li a:hover {
    background: #f7b617;
}

.hamburger {
    display: none;
}


/* ----------------Mobile nav style--------------*/
@media screen and (max-width:800px) {

    nav {
        display: none;
    }

    .hamburger {
        display: block;
        margin-right: 0.9375rem;
        cursor: pointer;
    }
    
    .fa-bars {
        color: #2B2B2B;
        border: 1px solid #2b2b2b;
        padding: 6px;
        border-radius: 5px;
    }
}


/* ----------------Desktop Advertising style--------------*/
.advertising{
    padding: 3rem;
    padding-bottom: 3rem;
    padding-left: 0rem;
    padding-right: 10rem;
    background-color: #f7b617;
    vertical-align: middle; 
}

.downloadInfo{
    display: flex;
    border-style: solid; 
    color: #ffffff;
    vertical-align: middle;
}

.appText{
    text-align: left;
    margin: 7rem 5rem 7rem 2.5rem;
    display:block; 
}

.appTextP{
    font-size: 1.5rem;
}

.appTextMobile{
    display:none;
}

.appTextMobile2{
    display:none;
    justify-content: flex-start;

}

.appImg{
    height:70%;
    margin: 3rem 0rem 3rem 2rem;
}


/* ----------------Mobile Advertising style--------------*/
@media screen and (max-width: 800px){
    .advertising {
        padding: 1rem;
    }
    .downloadInfo{
        text-align: center;
        flex-direction: column;
        margin-left: 0;
    }

    .appText{
        display:none;
    }

    .appTextMobile{
        align-items: flex-start;
        color:#ffffff;
        display:block;
    }

    .appTextMobile2{
        color:#ffffff;
        display:block;
    }

    .appImg{
        width: 16rem;
        height: 16rem;
        margin: 3rem;
    }
}


/* ----------------Desktop driver style--------------*/

.driver {
    background-image:
    url("https://i.ibb.co/GnkFtg5/conduce.jpg");
    width: 100%;
    height: 28.13rem;
    background-position: 0% 93%;
    background-size:cover;
    justify-content: flex-end;
 }
 
 .opacity {
    width: 28.13rem;
    height: 100%;
    background:rgba(0, 0, 0, 0.45);
    padding-right: 3rem;
    padding-left: 3rem;
    float: right;
 }
 
 .yellowBtn {
    background-color: #f7b617;
    color:#FFF;
    border-radius: .25rem;
    border:none;
    padding: .45rem .8rem;
    font-size: 1rem;
    margin-top: 1rem;
 }
 
 .subtitle {
    color: #FFF;
    font-size: 2rem;
 }
 
 .text {
    font-size: 1.2rem;
    color: #FFF;
    margin-top: 1rem;
 }
 
 .driverInfo {
    padding-top: 4.5rem;
 }


/* ----------------Mobile driver style--------------*/
@media screen and (max-width: 800px){
    .driver {
        height: 23rem;
    }

    .opacity {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        width: auto;
    }
}

/* ----------------Desktop prices style--------------*/
.prices {
    justify-content: flex-end;
    display:flex;
    background-color: #f7b617;
    color: white;
    align-content: flex-start;
}

.routes {
    margin-right: 7rem;
    flex-direction: row;
}

.titlePrices{
    margin-bottom: 1.5rem;
}

.inputP {
    border-radius: .6rem;
    background-color: transparent;
    color: white;
    font-size: 1rem;
    outline: none;
    border: 1px solid white;
    padding: .7rem;
    margin: .7rem;
    width: 20rem;
}

::placeholder {
    color: white;
}

.pricesBox {
    align-content: flex-start;
    /*margin-right: 45rem;*/
    margin-left: 6rem;
    margin-top: 5rem;
    float: left;

}

.mapPic {
    align-content: flex-end;
    padding: 2rem 1rem 2.5rem 6rem;
    text-align: left;
    margin-bottom: 10rem;
    margin-top: 0rem;
    justify-content: flex-end;
    float: right;
}

.subtitle {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.prf3 {
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
}

.routesBtn{
    margin-left: 8rem;
    margin-top: 1.2rem;
    padding: .6rem;
    width: 10rem;
}

.inputWeb{
    display: none;
}

.routesForm{
    padding-right: 7rem;
}

/* ----------------Mobile Prices style--------------*/
@media screen and (max-width:800px) {
    .inputWeb{
        display: none;
    }
  
    .prices {
      justify-content: flex-start;
      height: auto;
    }
  
    .routes {
      margin-right: 3rem;
      flex-direction: row;
    }

    .routesForm {
        padding: 0;
    }

    .routesBtn {
        margin-left: 6rem;;
    }

    .mapPic {
        margin-bottom: 0;
        float: none;
        padding: 0;
    }

    .mapImg {
        width: 20rem;
        margin: 1.6rem;
    }

    .pricesBox {
        margin: .6rem;
    }

    input {
        width: 17.2rem;
    }
}


/* ----------------Desktop footer style--------------*/
footer {
    background-color: #2b2b2b;
    height: 25rem;
    padding: 2rem;
 }
 
 .whiteLog {
    margin-bottom: 1rem;
 }
 
 .footerList {
    text-decoration: none;
    color: #FFF;
    font-size: 1rem;
    list-style: none;
 }
 
 i {
    color: #FFF;
    flex-flow: flex-end;
 }
 
 .appRoutes {
    float: right;
 }
 
 .copyRight {
    color: #FFF;
    font-size: .8rem;
    margin-top: 1rem;
 }

 .ulContainer {
    display: flex;
 }


 /* ----------------Mobile footer style--------------*/
 @media screen and (max-width:800px) {

    footer {
        padding: .6rem;
        height: 90%;
    }

    .socialIcons {
        align-self: flex-start;
        margin-bottom: 2rem;
    }

    .footerListContainer-B {
        display: none;
    }

    .appRoutes {
        margin-bottom: 1rem;
        justify-content: flex-end;
        align-self: flex-end;
    }

    .appInstall {
        width: 8.5rem;
    }

    .ulContainer {
        margin: 2rem;
    }
 }

 /* -------- modal styles -------------------*/
 .modalContainer {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgb(0,0,0,0.75);
  }
  .modalDriverInfo p{
    color: gray;
    font-size: .8rem;
    text-align: center;
  
  }
  .modalDriverInfo h6{
    font-size: 1rem;
    text-align: left;
  }
  .modalDriverInfo input{
      background-color: #FFF;
      border-radius: .3rem;
      padding: .40rem;
      width: 19rem; 
      color: gray;
      margin: .2rem;
  
    }
    ::placeholder {
        color: gray;
        opacity: 1; /* Firefox */
      }
      
  .modalDriverInfo select{
      border-radius: .3rem;
      padding: .40rem;
      width: 20rem;
      margin:.2rem;
  }
  .modalDriverInfo {
    text-align: left;
    background-color: #a9a9a9;
    margin: 10% auto;
    padding: 1.25rem;
    width: 21rem;
    box-shadow: 0 5px 5px 0 rgb(0, 0, 0, 0.2);
    border-radius: 0.9375rem;
  } 
  .modalImage{
    text-align: center;
  }

  .blueBtn{
      background-color: #5bc0de;
      text-align: center;
      color: white;
      width: 20rem;
      padding: .8rem;
      border: none;
      border-radius: .3rem;
      font-size: 1.2rem;
      margin: .2rem;
  }
  .close{
      border:none;
      background-color:#a9a9a9;
      margin-left: 20rem;
  }
  .blackBtn{
    background-color: black;
    text-align: center;
    color: white;
    width: 20rem;
    padding: .8rem;
    border: none;
    border-radius: .3rem;
    font-size: 1.2rem;
  }
  input[type=text]{
      width:97.5%;
      border:0.125rem solid #aaa;
      border-radius: 0.25rem;
      margin:0.5rem 0;
      outline:none;
      padding:.5rem;
      box-sizing: border-box;
      transition:.3s;
  }

  .input[type=text]:focus{
      border-color:#5bc0de;
      box-shadow: 0 0 .5rem 0 #5bc0de;
  }

  .inputWithIcon input[type=text]{
      padding-left:2.5rem;
   }
   .inputWithIcon{
       position: relative;
   }
   .inputWithIcon i{
       position:absolute;
       left:0;
       top: .5rem;
       padding: .5625rem .5rem;
       color:#aaa;
   }
   .inputWithIcon input[type=text]:focus + i{
       color:#5bc0de;
   }
   input[type=password]{
    width:97.5%;
    border:0.125rem solid #aaa;
    border-radius: 0.25rem;
    margin:0.5rem 0;
    outline:none;
    padding:.5rem;
    box-sizing: border-box;
    transition:.3s;
}

.input[type=password]:focus{
    border-color:#5bc0de;
    box-shadow: 0 0 .5rem 0 #5bc0de;
}

.inputWithIcon input[type=password]{
    padding-left:2.5rem;
 }

 .inputWithIcon input[type=password]:focus + i{
     color:#5bc0de;
 }
 