* {
    margin: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Cabin', sans-serif;
}

/* ----------------Desktop main style--------------*/
main{
    padding-top:3.125rem;
    display:flex;
    background-image: url('https://i.ibb.co/ryGC2mq/taxi.jpg');
    background-position: 0% 93%;
    background-size:cover;
    justify-content: flex-end;
    color: white;
    
}
.main-title{
    font-size: 2rem;
    display:block;
}
.prf2{
    font-size: 1.5rem;
}
    
#logo-begin{
    width: 4rem;
    height:  1rem;
}
.register{
    margin: 4rem 0rem 8rem;
    padding: 2rem 7rem 2.5rem 2rem;
    text-align: left;
    background-color: #f7b617;
    font-size: 2.5rem ;
}
.whiteBtn{
    background-color: white;
    color:black;
    border-radius: .25rem;
    border:none;
    padding: .45rem .8rem;
    font-size: 1rem;
}
.mobile{
    display:none;
}
.webBtn{
    display:block;
}
.lines{
    text-align: center;
    padding:  0rem 0rem 1rem 5rem;
    display:block;
}
.lines-effect{
    display: inline-block;
    position: relative;
    font-size: .8rem;
    
    }

    .lines-effect::after,.lines-effect::before{
        content:'';
        position:absolute;
        width:8rem;
        height: .08rem;
        background-color: white;
        top: 0.6rem;
    }
    .lines-effect::before{
        left:-10rem;
    }
    .lines-effect::after{
        right: -10rem;
    }
.mobile-text{
    display:none;
}

/* ----------------Mobile main style--------------*/

@media screen and (max-width: 800px){

    .mobile-text{
        display:block;
    }
    .main-title{
        display:none;
    }
    .mobile{
        display:block;
    }
    .webBtn{
        display:none;
    }
    .lines{
        display:none;
    }

}


/* ----------------Desktop nav style--------------*/
header {
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 100;
    padding: 0.625rem 1.25rem;
    width: 100%;
    height: 3.125rem;
    background-color: #FFF;
}

nav {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    background-color: #FFF;
    display: flex;
}
nav ul {
    overflow: hidden;
    list-style: none;
}
nav ul li {
    float:right;
}
nav ul li a{

    font-size: 1rem;
    color: #000000;
    display: flex;
    justify-content: flex-end;
    padding-left: .5rem;
    padding-right: .5rem;
    text-decoration: none;

}

nav ul li a:hover {
    background: #f7b617;
}

.hamburger {
    display: none;
}

/* ----------------Mobile nav style--------------*/
@media screen and (max-width:800px) {

    nav {
        display: none;
    }
    .hamburger {
        display: block;
        margin-right: 0.9375rem;
        cursor: pointer;
    }
    
    .fa-bars {
        color: #2B2B2B;
        border: 1px solid #2b2b2b;
        padding: 6px;
        border-radius: 5px;
    }
}


/* ----------------Desktop Advertising style--------------*/
.advertising{
    padding: 3rem;
    padding-bottom: 3rem;
    padding-left: 0rem;
    padding-right: 10rem;
    display:flex;
    background-color: #f7b617;
    vertical-align: middle;
    
}

.downloadInfo{
    display: flex;
    border-style: solid; 
    color: #ffffff;
    vertical-align: middle;
}

.appText{
    text-align: left;
    margin: 7rem 5rem 7rem 2.5rem;
    display:block;
    
}

.appTextP{
    font-size: 1.5rem;
}

.appTextMobile{
    display:none;
}

.appTextMobile2{
    display:none;
    justify-content: flex-start;

}

.appImg{
    height:70%;
    margin: 3rem 0rem 3rem 2rem;
}

/* ----------------Mobile Advertising style--------------*/
@media screen and (max-width: 800px){
    .downloadInfo{
        text-align: left;
    }

    .appText{
        display:none;

    }

    .appTextMobile{
        align-items: flex-start;
        color:#ffffff;
        display:block;
    }

    .appTextMobile2{
        color:#ffffff;
        display:block;
        text-align: end;
        
    }

    .appImg{
        height:70%;
        vertical-align: middle;
    }
}


/* ----------------Desktop driver style--------------*/

.driver {
    background-image:
    url("https://i.ibb.co/GnkFtg5/conduce.jpg");
    width: 100%;
    height: 28.13rem;
    background-position: 0% 93%;
    background-size:cover;
    justify-content: flex-end;
 }
 
 .opacity {
    width: 28.13rem;
    height: 100%;
    background:rgba(0, 0, 0, 0.45);
    padding-right: 3rem;
    padding-left: 3rem;
 }
 
 .yellowBtn {
    background-color: #f7b617;
    color:#FFF;
    border-radius: .25rem;
    border:none;
    padding: .45rem .8rem;
    font-size: 1rem;
    margin-top: 1rem;
 }
 
 .subtitle {
    color: #FFF;
    font-size: 2rem;
 }
 
 .text {
    font-size: 1.2rem;
    color: #FFF;
    margin-top: 1rem;
 }
 
 .driverInfo {
    padding-top: 4.5rem;
 }